.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  box-shadow: 3px 0 6px rgba(0, 0, 0, .24);
/*font : bold; */
}
@media (min-width : 1700px){
  .sidenav{
    display: none;
  }
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}
