/* You can add global styles to this file, and also import other style files */
.mat-toolbar.mat-primary {
    background: #a116d8;
    color: #fff;
  }
.toolbarClass{
    flex: 1 1 auto;
}
html,
body{
    height: 100%;
}

body{
    margin:0;
}